.CartContainer {

    /* position */
    position: fixed;
    top: 7em;
    right: -500px;
    height: 100%;
    width: 450px;
    display: flex;
    flex-direction: column;
    z-index: 2;
    align-items: center;

    /* colors */
    background-color: #fff;
    box-shadow: -1px 15px 15px rgba(0, 0, 0, 0.2);
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.CartContainer::-webkit-scrollbar {
    display: none;
}


.CartContent {
    display: grid;
    grid-template-rows: 30px repeat(auto-fill, 120px);
    grid-gap: 1em;
    overflow-x: scroll;
    justify-content: center;
    width: 100vw;
    margin-bottom: 5em;
}

.totalCost {
    /* display */
    display: flex;
    justify-content: space-around;
    align-items: center;


    /* styling */
    background-color: black;
    border-top: 1px solid black;
    color: #fff;

    /* width and height */
    padding: 2em 0;
    max-height: 200px;

    /* self style */
    position: absolute;
    bottom: 7em;
    width: 100%;
}

.totalCost button {
    background-color: #fff;
    color: black;
    padding: 0.5em 1em;
}

.CartContainer.visible {
    right: 0%;
    opacity: 1;
}

.cardItem {
    padding: 1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    gap: 3em;
    font-size: 0.8rem;
}

.closeCartBtn {
    width: 16px;
    font-size: 18px;
}


.cartProductTitle {
    overflow: hidden;
    max-width: 250px;
    text-overflow: ellipsis;
    white-space: nowrap;

}


.imageCartContainer {
    max-width: 90px;
    height: 95px;
    justify-self: flex-start;
}

.imageCartContainer img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.productCartInfo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1em;
    width: 50%;
}

.quantityCartSection {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.quantityCartSection span {
    padding: 0 1em;
}

.quantityCartSection button {
    background-color: black;
    margin: 0.5em;
    width: 20px;
    color: #fff;
}


.closeCartSection {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.2);
    font-size: 1.5em;
    min-width: 450px;
    padding: 0 .8em;
}

@media screen and (max-width:768px) {
    .CartContainer {
        top: 0px;
        width: 100%;
        left: 0;
        right: 0;
        flex-wrap: wrap;
    }

    .closeCartSection {
        padding: 1em 0;
        align-items: center;
        width: 100vw;
    }

    .CartContent {

        left: 0;
        overflow-x: hidden;
        text-overflow: ellipsis;
        width: 100vw;
    }

    .cartProductTitle {
        max-height: 150px;
        text-overflow: ellipsis;
        padding-right: 2em;
        width: 100vw;
    }

    .totalCost {
         bottom: 0;
    }

    .closeCartSection {
        min-width: 200px;
        width: 100vw;
        padding: 1em 1.5em;
    }

}