 .banner {
   position: relative;
   top: 5em;
   height: 500px;
   padding-bottom: 40%;
   background-position: right;
   background-repeat: no-repeat;
 }

 .banner::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-image: url("../../Images/banner10-min.jpg");
   background-size: cover;
   background-position: center center;
   filter: brightness(80%) contrast(150%) blur(0.1px);
   z-index: -1;
 }

 .banner-content {
   position: relative;
   top: 16vw;
   left: 3em;
   color: #ffffff;
   text-shadow: 1px 1px;
   z-index: 1;
   overflow-wrap: break-word;
   width: 90%;
   max-width: 60vw;

 }

 .banner-content h1 {
   font-size: 3rem;
   margin-bottom: 1rem;
 }

 .banner-content p {
   font-size: 1.5rem;
 }

 .banner-content button {
   padding: 1rem 2rem;
   font-size: 1.2rem;
   background-color: #fff;
   color: #333;
   border: none;
   border-radius: 2rem;
   margin: 1rem 0;
   transition: background-color 0.2s ease;


 }

 .banner-content button:hover {
   background-color: #333;
   color: #fff;
 }

 /* For screens up to 767px */
 @media (max-width: 767px) {
   .banner {
     background-size: cover;
     background-position: center;
   }

   .banner-content {
     max-width: 100%;
     max-width: 100%;
     text-align: center;
     top: 5em;
     left: 0em;
     padding: 1em;
     margin: auto;
     text-shadow: 1px 1px black;
   }

   .banner-content h1 {
     font-size: 2rem;
   }

   .banner-content p {
     font-size: 1.2rem;
     margin-bottom: 1.5rem;
   }

   .banner-content button {
     font-size: 1rem;
     padding: 0.8rem 1.6rem;
   }
 }